# Python
__pycache__
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db



# Output / temp
*.parquet
data/aux.py

# Documentation and deliverables
documentation/
deliverable/

# Others
PENDINT.txt
main_code/tests/
main_code/docs/
main_code/context/



# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
build/
